@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1, h2 {
  font-family: "Noto Serif", serif;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  height: 71px;
  margin: 20px 100px;
}
.logo img {
    width: 130px;
    height: 80px;
}
nav a {
  margin-left: 25px;
  text-decoration: none;
  color: rgb(137, 135, 161);
  font-weight: 400;
  font-size: 16px;
}

nav a.home {
  font-weight: 700;
  color: #252432;
}

.cart-img {
  width: 24px;
  height: 24px; 
  color: #000000; 
}
.cart-text{
    color: #000000;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1140px;
  max-height: 461px;
  gap:0;
}
.text-content{
  max-width: 500px;
  gap: 13px;
}
h1{
  font-size: 45px;
  font-weight: bold;
}
.dark{
  color: #000000;
}
.text{
  color: #E95A08;
}
.banner-description{ 
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.banner-image{
  max-width: 430px;
  max-height: 330px;
}
.our-plants{
  align-items: center;
  margin: 30px 80px;
}
.our-plants-container{ 
  text-align: center;
  align-items: center;
  margin: 10px 100px;
  max-width: 1140px;
}
.section-title{ 
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}
.section-letter{ 
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  max-width: 888px;
  height: 54px;
}

.plants-gird{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}

.plants-card{ 
  text-align: center;
  gap: 10px;
  margin-top: 20px;
}
.plants-card img{
  width: 270px;
  height: 350px;
  margin-bottom:10px;
}
.text-lily{
  font-family:  "Inter", sans-serif;
  font-size: 18x;
  font-weight: 500;
  color: rgba(17, 17, 17, 1);
  margin: 15px 0px;
}
.usd{
  font-size: 18px;
  font-weight: bold;
  color: rgba(17, 17, 17, 1);
  margin-top: auto;
}

.btn-primary{
  font-family:  "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: rgba(233, 90, 8, 1);
  padding: 14px 20px;
  gap: 10px;
  border: none;
}

.plants-card button:hover {
  background: rgb(242, 169, 127);
}

.join-section{
  background: url(assets/news-letter-bg.png) no-repeat center center/cover;
  max-width: 1440px;
  max-height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.join-content{ 
  text-align: center;
}
.join-section h1{ 
  font-size: 45px;
  font-weight: 700;
}
.subscribe-form input[type="email"] {
  max-width: 404px;
  height: auto;
  padding: 10px 50px;
  border: none;
}

.subscribe-form button {
  font-size: 13px;
  font-weight: 400;
  padding: 10px 40px;
  background-color: rgb(233, 90, 8);
  color: white;
  border: none;
}
.subscribe-form button:hover{
  background-color: rgb(242, 169, 127);
  color: rgb(62, 62, 196);
}

.footer-section {
  display: flex;
  justify-content: space-between;
  margin: 50px 130px;
  max-width: 1440px;
}
.footer-left img{
  width: 120px;
  height: 80px;
}
.footer-left p{
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  max-width: 340px;
}
.footer-links{ 
  display: flex;
  justify-content: space-between;
}
.footer-links{
  display: grid;
  grid-template-columns:1fr;
}
.footer-links a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: rgba(107, 114, 128, 1);
  padding: 20px 10px;
}
.footer-icons img{
  width: 30px;
  height: fit-content;
  padding: 15px 10px;
}

 @media screen and (max-width: 576px){
  .container{
    flex-direction: row;
    align-items: center;
    width: 361px;
    height: 38px;
    margin: 20px auto;
  }
   .logo img{
    width: 75px;
    height: 40px;
   }
  nav {
    display: flex;
    align-items: center;
  }

  nav a {
    display: none;
  }

  nav a:last-child {
    display: flex;
    align-items: center;
  }
 }